@charset "UTF-8";
.headertop{
    margin: 10px;
    
}
  
.topbar {
    background-color: black;
    color: green;
    padding: 1px;
    height: 100px;
}
.logo {
    text-align: center;
}
#logo_img {
    height: 100px;
    width: 180px;
    padding: 0px;

}